body {
    margin-top: 25px;
}

#index {
    border: solid 1px #ccc;
    padding: 10px;
}

#index h1 {
    font-family: 'Arial';
    font-size: 20px;
    text-shadow: 0 0 1px #ccc;
}

#index h2 {
    font-size: 16px;
}

#index ul {
    list-style-type: circle;
}

#index li {
    line-height: 14px;
}

#main h1 {
    margin-bottom: 10px;
    font-family: 'Arial';
}

.codemirror button {
    margin-top: 10px;
    margin-left: 5px;
    width: 120px;
}

.timbre {
    background-image: url("../../misc/img/click-to-play.png");
    background-repeat: no-repeat;
    background-position: top right;
    cursor: pointer
}
