body {
    margin-top: 25px;
}

#index {
    border: solid 1px #E1E1E8;
    border-radius: 4px;
    padding: 10px;
    background: #DBF0F6;
}

#index h1 {
    font-family: 'Arial';
    font-size: 18px;
    color: #333;
    text-shadow: 0 0 1px #999;
}

#index h2 {
    font-size: 14px;
    font-weight: normal;
}

#index ul {
    list-style-type: circle;
}

#index li {
    line-height: 16px;
}

#index span {
    margin-left: 5px;
    font-weight: normal;
}

#main h1 {
    padding-bottom: 5px;
    margin-bottom: 0;
    font-family: 'Arial';
    border: solid 0 #E1E1E8;
    border-width: 0 0 1px 0;
    letter-spacing: 2px;
}

#main h2 {
    line-height: 20px;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 15px;
}

.CodeMirror {
    border: solid 1px #E1E1E8;
}

.CodeMirror-scroll {
    height: auto;
    overflow-y: hidden;
    overflow-x: auto;
}

.codemirror button {
    margin-top: 10px;
    margin-left: 5px;
    width: 120px;
}

.click-to-play {
    background-image: url("/timbre.js/misc/img/click-to-play.png");
    background-repeat: no-repeat;
    background-position: top right;
    cursor: pointer
}
