* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #333;
    background: white;
}

ul {
    margin: 5px 0 5px 25px;
}

a {
    color: #007AB7;
}

hr {
    border: dashed 0 #dcdcdc;
    border-width: 1px 0 0;
    margin: 20px 0;
}

pre code {
    padding: 15px;
    display: block;
}

#sidebar {
    position: fixed;
    top: 0; left: 0; bottom: 0;
    width: 175px;
    overflow-y: auto;
    overflow-x: hidden;
    
    padding: 15px 0 30px 15px;
    border-right: 1px solid #BBB;
    box-shadow: 0 0 20px #CCC;
    -webkit-box-shadow: 0 0 20px #CCC;

    font-size: 14px;

    background: #DBF0F6;
}

#sidebar h1 {
    font-family: 'Arial';
    font-size: 18px;
    margin-bottom: 15px;
    color: #333;
    text-shadow: 0 0 1px #999;
}

#footer a {
    margin: 5px;
    font-size: 12px;
}

#index {

}

#index h2 {
    margin-top: 20px;
    font-size: 14px;
}

#index ul {
    list-style-type: circle;
}

#index li {
    line-height: 20px;
}

#index span {
    margin-left: 5px;
    font-weight: normal;
}

#main {
    width: 700px;
    margin: 40px 0 50px 220px;
    font-size: 14px;
    line-height: 24px;
}

#main h1 {
    padding-bottom: 8px;
    margin-bottom: 0;
    font-family: 'Arial';
    font-size: 32px;
    text-shadow: 0 0 1px #ccc;
    border: solid 0 #E1E1E8;
    border-width: 0 0 1px 0;
    letter-spacing: 2px;
}

#main h1 + p {
    line-height: 20px;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 15px;
}

#main h1 + p .label {
    float: right;
}

#main h2 {
    font-size: 20px;
    margin: 15px 0 5px;
}

#main h3 {
    margin: 10px 0 0px;
    font-size: 14px;
}

#main h4 {
    font-size: 12px;
}

#main h5 {
    
}

#main h2 ~ p {
    margin-left: 5px;
}

#main pre + p {
    margin-top: 15px;
}

#main canvas {
    border: solid 1px #E1E1E8;
    margin-left: 25px;
    float: right;
    margin-bottom: 10px;
}

#main ul {
    line-height: 20px;
}

#main ul ul {
    margin: 0 0 10px 5px;
    list-style-type: none;
}

#main code {
    color: #BF1E56;
    font-family: 'Courier', monospace;
}

#main a code {
    color: #007AB7;
}

#main em {
    color: #666;
    font-size: 12px;
}

.label {
    margin: 5px 0 0 5px;
    font-style: normal;
    font-size: 12px;
    background: #6EB7DB;
}

.editor {
    clear: both;    
     margin: 15px 0 50px;
}

.CodeMirror {
    border: solid 1px #c0c0c0;
    font-family: 'Courier', monospace;
    font-size: 12.025px;
    background: #ededed;
    line-height: 18px;
}

.CodeMirror-scroll {
    height: auto;
    overflow-y: hidden;
    overflow-x: auto;
}

.codemirror button {
    margin-top: 2px;
    margin-left: 5px;
    width: 40px;
    float: right;
}

.label {
    color: white;
    padding: 0 4px;
    font-size: 8px;
    font-weight: bold;
    border-radius: 3px;
}
