* {
    margin: 0;
    padding: 0;
}

ul {
    margin: 5px 0 30px 25px;
}

a {
    color: #007AB7;
}

#sidebar {
    position: fixed;
    top: 0; left: 0; bottom: 0;
    width: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    
    padding: 15px 0 30px 30px;
    border-right: 1px solid #BBB;
    box-shadow: 0 0 20px #CCC;
    -webkit-box-shadow: 0 0 20px #CCC;

    font-size: 14px;

    background: #DBF0F6;
}

#title {
    font-family: 'Arial';
    font-size: 18px;
    color: #333;
    text-shadow: 0 0 1px #999;
    margin-bottom: 25px;
}

#index {
    height: 100%;

}

#index h2 {
    font-size: 14px;
}

#index ul {
    list-style-type: circle;
}

#index li {
    line-height: 16px;
}

#index span {
    margin-left: 5px;
    font-weight: normal;
}

#main {
    width: 600px;
    margin: 40px 0 50px 260px;
    font-size: 14px;
    line-height: 24px;
}

#main h1 {
    padding-bottom: 5px;
    margin-bottom: 0;
    font-family: 'Arial';
    border: solid 0 #E1E1E8;
    border-width: 0 0 1px 0;
    letter-spacing: 2px;
}

#main h1 + p {
    line-height: 20px;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 15px;
}

#main h2 {
    font-size: 18px;
    margin: 15px 0 5px;
}

#main h3 {
    margin: 10px 0;
    font-size: 14px;
}

#main h4 {

}

#main h5 {
    
}

#main h2 ~ p {
    margin-left: 15px;
}

#main canvas {
    border: solid 1px #E1E1E8;
    margin-left: 25px;
}

#main ul ul {
    margin: 0 0 10px 5px;
    list-style-type: none;
}

#main code {
    color: #BF1E56;
    font-family: 'Courier', monospace;
}

.label {
    margin: 5px 0 0 5px;
    font-style: normal;
    font-size: 12px;
    background: #6EB7DB;
}

.CodeMirror {
    border: solid 1px #E1E1E8;
}

.CodeMirror-scroll {
    height: auto;
    overflow-y: hidden;
    overflow-x: auto;
}

.codemirror button {
    margin-top: 10px;
    margin-left: 5px;
    width: 120px;
}

.prettyprint {
    font-family: 'Courier', monospace;
    font-size: 12px;
    margin: 15px 0 25px;
}

.click-to-play {
    background-image: url("/timbre.js/misc/img/click-to-play.png");
    background-repeat: no-repeat;
    background-position: top right;
    cursor: pointer
}

.pull-right {
    float: right;
}

.label {
    color: white;
    padding: 0 5px;
    font-size: 8px;
    font-weight: bold;
    border-radius: 3px;
}
